.profile__subtitle {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  grid-column: 1/3;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 1000px) {
  .profile__title {
    font-size: 14px;
    line-height: 17px;
  }
}

@media screen and (max-width: 320px) {
  .profile__subtitle {
    text-align: center;
    max-width: 282px;
  }
}
